#cursor {
    position: fixed;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #000;
    opacity: 0;
    -webkit-transition: opacity 0.2s transform 0.2s;
    -moz-transition: opacity 0.2s, transform 0.2s;
    -o-transition: opacity 0.2s, transform 0.2s;
    transition: opacity 0.2s, transform 0.2s;
    z-index: 2147483647;
    pointer-events: none;
}
#cursor.visible {
    opacity: 0.25;
}
#cursor.hover {
    opacity: 0.1;
    transform: scale(2.5);
}
#cursor.active {
    opacity: 0.5;
    transform: scale(0.5);
}